* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(84, 130, 214);
  color: white;
}

.header,
.header2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 40px;
  background-color: rgb(51, 83, 145);
  height: 40px;
}

.header2 {
  justify-content: space-between;
}

.header h3,
.header2 h3 {
  font-size: 14px;
  font-weight: 400;
}

.header2 h3 {
  margin-left: -12%;
}

input {
  width: 140px;
}

.planetList {
  display: flex;
}

.backImage {
  width: 30%;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stats {
  background-color: rgb(51, 83, 145);
  margin-top: 20px;
  padding-left: 2%;
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  align-items: center;
}

.list h3,
.list h2 {
  display: flex;
  justify-content: flex-end;
  color: white;
}

.background {
  display: flex;
  justify-content: space-evenly;
}

.planet {
  background-color: transparent;
  padding: 20px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.planet:hover {
  background-color: rgb(51, 83, 145);
}

a {
  text-decoration: none;
}

img {
  align-self: center;
}

.planetData {
  display: flex;
  flex-direction: column;
}

.backButton {
  background-color: transparent;
  color: white;
  cursor: pointer;
  font-size: 24px;
  margin-left: 30px;
  border: none;
}

.moonContainer {
  width: 100%;
  border: 1px solid black;
  display: flex;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
}

.moonContainer:nth-child(even) {
  background-color: rgb(51, 83, 145);
}

@media only screen and (min-width: 1024px) {
  .planet {
    padding: 20px 100px;
  }

  .moonContainer {
    padding: 10px 100px;
  }
}
