* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(84, 130, 214);
  color: white;
}

.planetList {
  display: flex;
}

.backImage {
  width: 30%;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stats {
  background-color: rgb(51, 83, 145);
  margin: 20px 0;
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  align-items: center;
}

.list h3,
.list h2 {
  display: flex;
  justify-content: flex-end;
  color: white;
}

.background {
  display: flex;
  justify-content: space-evenly;
}

.planet {
  background-color: transparent;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

img {
  align-self: center;
}

.planetData {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 1024px) {
  .planet {
    padding: 20px 100px;
  }
}
